body{
    background-color: rgba(89, 183, 220, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form{
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
h1{
    color: white;
    background-color: rgb(9, 100, 135);
    text-align: center;
    padding: 15px 0;
    margin: 0;
}
.card-div{
    margin: 0 40px;
    text-align: center;
    background-color: rgba(227, 109, 109, 0.394);
    border-radius: 5px;
}
.card-div p:first-child{
    padding-top: 10px;
}
.card-div p:last-child{
    padding-bottom: 10px;
}
.card-div2{
    padding: 40px;
    padding-top: 0;
    padding-bottom: 20px;
}
label{
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
}
.input-div{
    display: flex;
}
i{
    border: 1px solid rgb(9, 100, 135);
    padding: 12px;
    background-color: rgb(9, 100, 135);
    color: white;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2;
}
input[type='number']{
    width: 100%;
    font-size: 20px;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.542);
}
input[type='number']:focus{
    outline: 3px solid rgba(89, 183, 220, 0.595);
}
select{
    width: 100%;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.542);
    margin-bottom: 20px;
}
select:focus{
    outline: 3px solid rgba(89, 183, 220, 0.595);
}
.submit{
    text-align: center;
}
input[type='submit']{
    width: 400px;
    padding: 10px 0;
    font-size: 18px;
    color: white;
    border: 0;
    background-color: rgb(9, 100, 135);
    border-radius: 5px;
    cursor: pointer;
}
input:hover[type='submit']{
    background-color: rgba(89, 183, 220, 0.595);
    color: black;
}
#card-div2-last p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.lds-circle {
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: black;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  


@media screen and (max-width: 800px){
    form{
        width: 500px;
    }
    body{
        min-height: 100vh;
    }
}
@media screen and (max-width: 550px){
    form{
        width: 80%;
        margin-top: 100px;
    }
    input[type='submit']{
        width: 60%;
    }
}